<div class="products-categories-wrapper">
  <div class="category-cart">
    <div class="category-img-wrapper">
      <img class="category-img" src="/shared/desktop/image-category-thumbnail-headphones.png" alt="">
    </div>
    <div class="category-title">
      <h6>Headphones</h6>
      <p class="btn-2"><a href="/products/headphones">Shop</a><img src="/shared/desktop/icon-arrow-right.svg" alt="icon-arrow-right"></p>
    </div>
  </div>
  <div class="category-cart">
    <div class="category-img-wrapper">
      <img class="category-img" src="/shared/desktop/image-category-thumbnail-speakers.png" alt="">
    </div>
    <div class="category-title">
      <h6>Speakers</h6>
      <p class="btn-2"><a href="/products/speakers">Shop</a><img src="/shared/desktop/icon-arrow-right.svg" alt="icon-arrow-right"></p>
    </div>
  </div>
  <div class="category-cart">
    <div class="category-img-wrapper">
      <img class="category-img" src="/shared/desktop/image-category-thumbnail-earphones.png" alt="">
    </div>
    <div class="category-title">
      <h6>Earphones</h6>
      <p class="btn-2"><a href="/products/earphones">Shop</a><img src="/shared/desktop/icon-arrow-right.svg" alt="icon-arrow-right"></p>
    </div>
  </div>
</div>