<footer>
    <div class="container">
        <span id="line"></span>
        <div id="footer-wrapper">
            <div id="footer-nav">
                <a id="logo" href="/"><img src="shared/desktop/logo.svg" alt=""></a>
                <nav>
                    <ul id="nav-list">
                        <li class="nav-item">HOME</li>
                        <li class="nav-item">HEADPHONES</li>
                        <li class="nav-item">SPEAKERS</li>
                        <li class="nav-item">EARPHONES</li>
                    </ul>
                </nav>
            </div>
            <div id="footer-desc">
                <div id="footer-info">
                    <p>Audiophile is an all in one stop to fulfill your audio needs. We're a small team of music lovers
                        and
                        sound specialists who are devoted to helping you get the most out of personal audio. Come and
                        visit
                        our demo facility - we’re open 7 days a week.</p>
                    <p>Copyright 2021. All Rights Reserved</p>
                </div>
                <div id="footer-social">
                    <a class="social-logo facebook" href="/"></a>
                    <a class="social-logo twitter" href="/"></a>
                    <a class="social-logo instagram" href="/"></a>
                </div>
            </div>
        </div>
    </div>
</footer>
</body>

</html>