<header>
    <div class="container">
        <div id="header-wrapper">
            <a id="logo" href="/"><img src="shared/desktop/logo.svg" alt=""></a>
            <nav>
                <ul id="nav-list">
                    <li class="nav-item">HOME</li>
                    <li class="nav-item">HEADPHONES</li>
                    <li class="nav-item">SPEAKERS</li>
                    <li class="nav-item">EARPHONES</li>
                    <% if (locals.isAuth) { %>
                        <li class="nav-item">LOGOUT</li>
                        <% } %>
                </ul>
            </nav>
            <a id="cart"><img src="shared/desktop/icon-cart.svg" alt=""></a>
        </div>
    </div>
</header>