<header>
  <div class="container">
    <div id="header-wrapper">
      <button id="mobile-menu-btn">
        <img src="/shared/tablet/icon-hamburger.svg" alt="hamburger icon">
      </button>
      <a id="logo" href="/"><img src="/shared/desktop/logo.svg" alt="website logo" /></a>
      <nav><%- include("nav-items") %></nav>
      <div id="user-nav-wrapper">
        <i class='bx bxs-user'></i>
        <nav id="user-nav">
          <ul id="user-nav-list">
            <%- include("user-items") %>
          </ul>
        </nav>
      </div>
      <% if (!locals.isAdmin) { %><a href="/cart/shoping-cart" id="cart"><img src="/shared/desktop/icon-cart.svg" alt="cart icon" /><span class="badge">0</span></a>
      <% } %>
    </div>
  </div>
</header>
<aside id="mobile-menu">
  <nav><%- include("nav-items") %></nav>
</aside>