<%- include("../../shared/includes/head", { pageTitle: "All Products" }) %>
</head>

<body>
  <%- include("../../shared/includes/header") %>
  <main>
    <div id="new-account">
      <h1>All Products</h1>
      <p>A List of products...</p>
    </div>

  </main>
  <%- include("../../shared/includes/footer") %></form>