<%- include("../../shared/includes/head", { pageTitle: "Home Page" }) %>
<link rel="stylesheet" href="/styles/home.css">
</head>

<body>
  <%- include("../../shared/includes/header") %>
  <main>
    <section id="hero">
      <div class="container">
        <div id="hero-wrapper">
          <p id="hero-overline" class="overline">New product</p>
          <h1 id="hero-heading">XX99 Mark II Headphones</h1>
          <p id="hero-desc">Experience natural, lifelike audio and exceptional build quality made for the passionate music enthusiast.</p>
          <button class="btn-1">See product</button>
        </div>
      </div>
    </section>
    <section class="products-categories">
      <div class="container">
        <%- include("../../shared/layouts/products-categories") %>
      </div>
    </section>
    <section id="featured-products">
      <div class="container">
        <div id="product-1">
          <div id="product-1-content">
            <h2 id="product-1-heading">ZX9<br>SPEAKER</h2>
            <p id="product-1-desc">Upgrade to premium speakers that are phenomenally built to deliver truly remarkable sound.</p>
            <a href="/" class="btn-1 btn-alt">See product</a>
          </div>
        </div>
        <div id="product-2">
          <div id="product-2-content">
            <h4>ZX7 SPEAKER</h4>
            <a href="/" class="btn-1 btn-alt-3">See product</a>
          </div>
        </div>
        <div id="product-3">
          <div class="product-3-col product-3-img"></div>
          <div class="product-3-col">
            <h4>YX1 EARPHONES</h4>
            <a href="/" class="btn-1 btn-alt-3">See product</a>
          </div>
        </div>
      </div>
    </section>
  </main>
  <%- include("../../shared/includes/footer") %>