<%- include("../includes/head", { pageTitle: "Home Page" }) %>
    </head>

    <body>
        <%- include("../includes/header") %>
            <main>
                <h1>Home Page</h1>
            </main>
            <%- include("../includes/footer") %>